@using Online_Medicine_Shopping_Website.Models
@model Online_Medicine_Shopping_Website.viewModels.Products
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    int count1 = 0;
    int count2 = 0;
    float newPrice;
}

<div class="jumbotron" style="background:#00ff21">
    <h1 style="font-family:Arial">BEST OFFERS</h1>
</div>
@while (count2 < Model.products.Count)
{
    count1 = 0;
    <div style="padding-top: 30px; padding-bottom: 30px;" class="row">

        @while (count1 < 3 && count2 < Model.products.Count)
        {
            newPrice = Model.products[count2].Price - (Model.products[count2].Price / 100 )* Model.products[count2].Discount ;
        <div class="col-md-4">
            @using (Html.BeginForm("ProductDetails", "Product"))
            {
                <div style="width : 60%">
                    <img width="100%" src="@Model.products[count2].imgUrl">
                </div>

                <p style="margin:0 ; padding-top:10px ; font-family: Arial; font-size:x-large ; " name="productName">
                    @Model.products[count2].Name
                </p>
                <span>@Model.products[count2].Discount % off</span>
                <div>
                    <samp style="text-decoration: line-through;">@Model.products[count2].Price LE</samp>
                    <samp> /  @newPrice LE</samp>
                </div>             
                <input type="hidden" name="productId" value="@Model.products[count2].Id">
                <button type="submit" class="btn btn-default">Order Now &raquo;</button>
            }
        </div>
            count2 = count2 + 1;
            count1 = count1 + 1;

        }

    </div>

}
